{% extends 'base.html' %}
{% block title %}Recharge{% endblock %}
{% block content %}

<h2>Mobile Recharge</h2>

<!-- History Button -->
<a href="{{ url_for('recharge') }}" class="btn btn-secondary mb-3">History</a>

<form method="POST" action="/recharge">
  <div class="mb-3">
    <label>Mobile Number</label>
    <input type="tel" pattern="[0-9]{10}" maxlength="10" class="form-control" name="number" required>
  </div>
  <div class="mb-3">
    <label>Operator</label>
    <select class="form-control" name="opid" required>
      <option value="1">Airtel</option>
      <option value="11">Jio</option>
      <option value="22">Vi</option>
      <option value="3">BSNL</option>
    </select>
  </div>
  <div class="mb-3">
    <label>Amount</label>
    <input type="number" class="form-control" name="amount" required>
  </div>
  <button class="btn btn-primary">Recharge</button>
</form>
{% endblock %}
